@{
    ViewData["Title"] = "Home Page";

    bool displayData = User.Identity.IsAuthenticated;
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
        @if (!User.Identity.IsAuthenticated)
        {
            @: , please sign in
        }
    </h1>
</div>

<div class="container-fluid dashboard" id="content">
    
</div>


@if (displayData)
{
    @section Scripts
    {
        <script src="@Url.Content("~/lib/amcharts/core.js")"></script>
        <script src="@Url.Content("~/lib/amcharts/charts.js")"></script>
        <script src="@Url.Content("~/lib/amcharts/themes/animated.js")"></script>
        <script src="@Url.Content("~/lib/amcharts/themes/dark.js")"></script>

        <script src="@Url.Content("~/js/test.jsx")"></script>
    }
}